.xans-order-basketguide { margin:40px 0; }
.xans-order-basketguide h3 { padding:0 0 10px; font-size:12px; color:#444; }
.xans-order-basketguide li { padding:0 0 0 10px; color:#8b8b8c; font-size:11px; line-height:18px; background:url("http://img.echosting.cafe24.com/design/skin/default/common/ico_help.gif") 0 2px no-repeat; }
.xans-order-basketguide strong { color:#f26522; }
.xans-order-basketguide a,
.xans-order-basketguide a:hover {color:#8b8b8c; }
