.xans-order-naverinfo { margin:40px 0; padding:20px; border:1px solid #e6e6e6; background:#f6f6f6; font-size:11px; line-height:18px; color:#2e2e2e; }
.xans-order-naverinfo h3 { margin:0 0 15px; }
.xans-order-naverinfo h4 { padding:15px 0 0 7px; background:url("http://img.echosting.cafe24.com/design/skin/default/order/ico_naver_help.gif") no-repeat 0 21px; font-weight:normal; font-size:11px; }
.xans-order-naverinfo p {}
.xans-order-naverinfo p img { vertical-align:middle; }
.xans-order-naverinfo ol { margin:0 0 0 20px; color:#8b8b8c; }
.xans-order-naverinfo li { list-style:decimal; }