
.xans-member-changepasswd .change_pw h3 { margin:0 0 30px 0; font-size:20px; text-align:center; }
.xans-member-changepasswd .change_pw p.event { margin:0 0 23px; }
.xans-member-changepasswd .change_pw fieldset input { width:236px; height:28px; line-height:28px; }
.xans-member-changepasswd .change_pw .ec-base-desc dt { width:118px; }
.xans-member-changepasswd .change_pw .ec-base-desc dd { margin:0 0 8px; }
.xans-member-changepasswd .change_pw .ec-base-button { padding:32px 4px 10px 0; }