#popup { width:500px; }
.header { height:77px; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/bg_popup_header.gif") 0 0 repeat-x; }
.header h1 { height:49px; padding:0 0 0 33px; font-size:20px; line-height:49px; color:#fefefe; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/ico_popup_title.gif") 20px center no-repeat; }
.content { padding:0 22px 22px; }
.content .btnArea { overflow:hidden; padding:20px 0 0; text-align:right; }
.content .btnArea.center { text-align:center; }
.content .btnArea span.left { float:left; }

.xans-member-checkid { font-size:11px; }
.xans-member-checkid fieldset { display:block; }
.xans-member-checkid fieldset input { width:100px; padding:2px 2px 2px 4px; border:1px solid #d9d9d9; color:#202020; }
.xans-member-checkid fieldset p { margin:0 0 20px; color:#f26522; }
.xans-member-checkid ul { margin:20px 0 0; }
.xans-member-checkid li { margin:2px 0 0; }