.xans-myshop-benefit { overflow:hidden; margin:0 0 10px; padding:20px; border:1px solid #e6e6e6; background:#efeff0; }
.xans-myshop-benefit .myThumb { float:left; }
.xans-myshop-benefit .myThumb img { max-width:85px; _width:85px; }
.xans-myshop-benefit .myInfo { float:left; width:600px; padding:0 0 0 10px; }
.xans-myshop-benefit .myInfo p { line-height:160%;  }
