#popup { width:800px; }
.header { height:77px; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/bg_popup_header.gif") 0 0 repeat-x; }
.header h1 { height:49px; padding:0 0 0 33px; font-size:20px; line-height:49px; color:#fefefe; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/ico_popup_title.gif") 20px center no-repeat; }
.content { padding:0 22px 22px; }
.content .btnArea { overflow:hidden; padding:20px 0 0; text-align:right; }
.content .btnArea.center { text-align:center; }
.content .btnArea span.left { float:left; }
 
.help li { padding:0 0 2px 7px; font-size:11px; line-height:14px; color:#34a7b3; background:url(http://img.echosting.cafe24.com/design/skin/mono/myshop/ico_deposits_dot.gif) 0 4px no-repeat; }
 
.tab { overflow:hidden; zoom:1; margin:10px 0; }
.tab li { float:left; padding:7px 24px; background:#e8ebed; }
.tab li a { color:#878988; font-weight:bold; font-size:11px; }
.tab li.selected { background:#b4bdc5; }
.tab li.selected a { color:#fff; }
 
.xans-myshop-depositrefundform table { table-layout:fixed; border-top:2px solid #c0c0c0; border-bottom:1px solid #c0c0c0; }
.xans-myshop-depositrefundform th { width:140px; padding:23px 0 18px 22px; border-top:1px solid #e7e7e7; background:#f6f6f6; color:#414141; text-align:left; line-height:140%; }
.xans-myshop-depositrefundform td { width:auto; padding:23px 0 18px 22px; border-top:1px solid #e7e7e7; color:#8f8f8f; line-height:140%; font-size:11px; }
.xans-myshop-depositrefundform td .price1 { color:#f26522; font-size:16px; }
.xans-myshop-depositrefundform td .price2 { font-size:16px; }
.xans-myshop-depositrefundform td img { vertical-align:middle; }
.xans-myshop-depositrefundform a { text-decoration:none; }
.xans-myshop-depositrefundform input { padding:2px 2px 2px 4px; border:1px solid #d9d9d9; color:#202020; }
.xans-myshop-depositrefundform input[type=radio],
.xans-myshop-depositrefundform input[type=checkbox] { width:13px; height:13px; padding:0; border:0; vertical-align:-2px; *vertical-align:2px; margin:0 3px 0 0; }
.xans-myshop-depositrefundform table td #request_deposit_amt { width:100px; }
.xans-myshop-depositrefundform table td #request_account_name { width:100px; }
.xans-myshop-depositrefundform table td #request_account_no { width:200px; }
.xans-myshop-depositrefundform table td #request_bank_code { width:160px; }