.xans-myshop-orderhistorylist { margin:0 0 10px; }
.xans-myshop-orderhistorylist table { border-bottom:1px solid #c0c0c0; color:#8f8f8f; font-size:11px; }
.xans-myshop-orderhistorylist table th { padding:9px 0 7px; border-top:2px solid #c0c0c0; border-bottom:1px solid #ccc; background:#f6f6f6; font-weight:normal; color:#202020; }
.xans-myshop-orderhistorylist table td { padding:11px 0 9px; border-top:1px dotted #e3e3e3; line-height:140%; text-align:center; vertical-align:middle; }
.xans-myshop-orderhistorylist table td.left { text-align:left; }
.xans-myshop-orderhistorylist table td.right { text-align:right; }
.xans-myshop-orderhistorylist table a,
.xans-myshop-orderhistorylist table a:hover { color:#8f8f8f; }

.xans-myshop-orderhistorylist table .noData { padding:50px; text-align:center; }