#popup { width:600px; height:400px; }
.header { height:77px; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/bg_popup_header.gif") 0 0 repeat-x; }
.header h1 { height:49px; padding:0 0 0 33px; font-size:20px; line-height:49px; color:#fefefe; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/ico_popup_title.gif") 20px center no-repeat; }
.content { padding:0 22px 22px; }
.content .btnArea { overflow:hidden; padding:20px 0 0; text-align:right; }
.content .btnArea.center { text-align:center; }
.content .btnArea span.left { float:left; }

.xans-search-frompackage {}
.xans-search-frompackage fieldset { margin:0 0 10px; padding:10px; background:#e6e6e6; border:1px solid #bbb; }
.xans-search-frompackage #keyword { padding:1px 3px; width:300px; border:1px solid #bbb; }

.xans-search-frompackage .resultArea { overflow:hidden; padding:20px 0 10px 0; }
.xans-search-frompackage .total { float:left; }
.xans-search-frompackage .limit { float:right; }

.xans-search-frompackage table { border-bottom:1px solid #c0c0c0; color:#8f8f8f; font-size:11px; }
.xans-search-frompackage table th { padding:9px 0 7px; border-top:2px solid #c0c0c0; border-bottom:1px solid #ccc; background:#f6f6f6; font-weight:normal; color:#202020; }
.xans-search-frompackage table td { padding:11px 0 9px; border-top:1px dotted #e3e3e3; line-height:140%; text-align:center; vertical-align:middle; }
.xans-search-frompackage table .product { text-align:left; }
.xans-search-frompackage table .product strong { display:block; padding:5px 0 0; color:#f26522; }

.xans-search-paging { margin:10px 0; text-align:center; }
.xans-search-paging p,
.xans-search-paging ol,
.xans-search-paging li { display:inline; }
.xans-search-paging img { vertical-align:top; }
.xans-search-paging p { margin-right:-3px; *margin-right:1px; }
.xans-search-paging ol { margin:0 17px 0 20px; }
.xans-search-paging li { margin:0 4px; font-size:12px; font-weight:bold; font-family:tahoma, sans-serif; }
.xans-search-paging li a { color:#7c7b7b; }
.xans-search-paging li a:hover { color:#ffd5c40; text-decoration:underline; }
.xans-search-paging li a.this { color:#fd5c40; }
.xans-search-paging a.nolink { cursor:default; }