.ec-base-fold { position:relative; border:1px solid #d5d5d5; }
.ec-base-fold > .title { position:relative; z-index:1; overflow:hidden; padding:14px 43px 14px 14px; cursor:pointer; font-size:13px; line-height:1.3; -webkit-tap-highlight-color:rgba(255,255,255,0);
display:-webkit-flex; display:-ms-flex; display:-moz-flex; display:flex; -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; -moz-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:space-between; -ms-justify-content:space-between; -moz-justify-content:space-between; justify-content:space-between; }
.ec-base-fold > .title h2,
.ec-base-fold > .title h3 { display:inline-block; font-size:13px; line-height:1.3; margin: 0;}
.ec-base-fold > .title h3, .ec-base-fold > .title p { color:#757575; }
.ec-base-fold > .title:after { content:""; position:absolute; top:0; right:0; width:40px; height:100%; background:url("//img.echosting.cafe24.com/skin/mobile/layout/ico_arrow_white.png") no-repeat 50% 50%; background-size:20px auto; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.ec-base-fold .contents { display:none; background:#fff; }
.ec-base-fold .ec-base-fold { border-width:1px 0 0; }
.ec-base-fold + .ec-base-fold { margin-top:7px; }
.ec-base-fold .ec-base-fold + .ec-base-fold { margin-top:0; }
   .ec-base-fold.selected > .title:after { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform:rotate(180deg); }
   .ec-base-fold.selected > .contents { display:block; }

/* theme1 */
.ec-base-fold.theme1 > .title { margin:-1px; color:#fff; background: #707070; }

/* theme2 */
.ec-base-fold.theme2 > .title { padding-right:34px; color:#292929; background:#f0f0f0; }
.ec-base-fold.theme2 > .title:after,
.ec-base-fold.theme3 > .title:after {background-image: url("//img.echosting.cafe24.com/skin/mobile/layout/ico_arrow_gray.png"); }

/* theme3 */
.ec-base-fold.theme3 > .title { color:#292929; background:#f9f9f9; }
.ec-base-fold.theme3 > .title h3 { font-weight:bold; color:#292929; }
.ec-base-fold.theme3 .contents { padding:0 14px 14px; background:#f9f9f9; }

/* theme4 */
.ec-base-fold.theme4 { margin:14px 7px 29px; font-size:13px; }
.ec-base-fold.theme4 dt { position:relative; padding:13px 30px 13px 14px; line-height:1.2; font-size:12px; cursor:pointer; background-color:#fff; }
.ec-base-fold.theme4 dt:after { content:""; position:absolute; right:10px; top:0; width:20px; height:100%; background:url("//img.echosting.cafe24.com/skin/mobile/layout/ico_arrow_gray.png") no-repeat 0 50%; background-size:20px auto; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.ec-base-fold.theme4 dd + dt { border-top:1px solid #d5d5d5; }
.ec-base-fold.theme4 dd { display:none; padding:10px 10px; font-size:12px; line-height:1.5; border-top:1px solid #d5d5d5; background-color:#f5f5f6; }
.ec-base-fold.theme4 dd.selected { display:block; }
.ec-base-fold.theme4 dt.selected:after { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform:rotate(180deg); }

/* ec-base-prdInfo */
.ec-base-fold .ec-base-prdInfo { margin:0; border:0; }
.ec-base-fold .ec-base-prdInfo .option { margin:0; }
.ec-base-fold .ec-base-prdInfo .prdFoot { margin:0 -14px -6px; }
.ec-base-fold .ec-base-prdInfo .prdTotal { margin:0 -14px -6px; }

/* ec-base-table */
.ec-base-fold > .contents .ec-base-table,
.ec-base-fold .ec-base-fold > .contents .ec-base-table { border:0; }





.ec-base-prdInfo { position:relative; margin:0 0 7px; padding:14px 14px 6px; border:1px solid #d5d5d5; box-sizing:border-box; background:#fff; }
.ec-base-prdInfo .prdCheck { display:inline-block; margin-bottom:7px; }
.ec-base-prdInfo .prdBox { display:-webkit-flex; display:-ms-flex; display:flex; min-height:90px; margin-top:7px; }
.ec-base-prdInfo .thumbnail { overflow:hidden; width:73px; height:73px; margin-right:15px; border:1px solid #d5d5d5; box-sizing:border-box; }
.ec-base-prdInfo .thumbnail img { width:100%; }
.ec-base-prdInfo .description { overflow:hidden; -webkit-flex:1; -ms-flex:1; flex:1; overflow:hidden; }
.ec-base-prdInfo .description .prdName { display:block; margin:0 0 10px; font-size:13px; }
.ec-base-prdInfo .description .prdName .ec-set-product-name { display:block; margin:0 0 3px; }
.ec-base-prdInfo .description .info { margin:0 0 14px; }
.ec-base-prdInfo .description .info li { margin:0 0 7px; font-size:12px; color:#757575; }
.ec-base-prdInfo .description .info li .mileage { display:inline-block; }
.ec-base-prdInfo .description .info .price { font-size:13px; color:#292929; }
.ec-base-prdInfo .description .info .price .refer { font-weight:normal; font-size:11px; }
.ec-base-prdInfo .description .info .price .discount { font-weight:normal; text-decoration:line-through; }
.ec-base-prdInfo .description .info .price .strike { font-weight:normal; text-decoration:line-through; }
.ec-base-prdInfo .description .info .price .strike strong { font-weight:normal; }
.ec-base-prdInfo .description .price .quantity { position:relative; display:inline-block; margin:0 0 0 10px; padding:0 0 0 14px; font-size:13px; }
.ec-base-prdInfo .description .price .quantity:before { display:block; content:""; position:absolute; top:1px; left:0; width:1px; height:13px; background:#989899; }
.ec-base-prdInfo .description input[type="number"] { max-width:51px; }
.ec-base-prdInfo .description .info .amount button { margin:0; padding:0; border:0; } /* gift > quantity */
.ec-base-prdInfo .description .info .amount { width:50px; }
.ec-base-prdInfo .description .info input.amount { text-align:right; }
.ec-base-prdInfo .description  input[type="tel"] { text-align:right; }
.ec-base-prdInfo .description .quantity input[type="tel"] { width:51px; }

.ec-base-prdInfo .prdFoot { padding:6px 12px;  line-height:26px; color:#022CFF; text-align:center; background:#f1f1f1; }
.ec-base-prdInfo .prdFoot:after { content:''; display:block; clear:both; }
.ec-base-prdInfo .prdFoot .gLeft { float:left; text-align:left; }
.ec-base-prdInfo .prdFoot .gRight { float:right; text-align:right; }
.ec-base-prdInfo .prdFoot .store { color:#292929; font-weight:normal; }
.ec-base-prdInfo .prdFoot .btnBasic { font-weight:normal; background-color:#fff; }
.ec-base-prdInfo .prdFoot span > span > span { font-size:11px; }
.ec-base-prdInfo  prdFoot span span.discount { text-decoration:line-through; }
.ec-base-prdInfo .prdFoot span span.discount strong {font-weight:normal; }


.ec-base-prdInfo p.option { margin:0 14px; padding:14px 0; border-top:1px solid #ececec; font-size:13px; }
.ec-base-prdInfo .option { padding:0; color:#353535; }
.ec-base-prdInfo .option > li { border-top:1px solid #ececec; }
.ec-base-prdInfo .option > li .name { display:-webkit-flex; display:-moz-flex; display:-ms-flex; display:flex; min-height:29px; margin:7px 0; -webkit-justify-content:space-between; -moz-justify-content:space-between; -ms-justify-content:space-between; justify-content:space-between; -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; align-items:center; }
.ec-base-prdInfo .option > li .optionDesc { word-break:break-all; }
.ec-base-prdInfo .option > li .change { margin:0 0 0 5px; white-space:nowrap; }
.ec-base-prdInfo .option .file a { margin:0 0 0 4px; padding:0 0 0 11px; color:#80aeef; text-decoration:underline; background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/order/ico_attach.png") no-repeat 0 0; background-size:8px 13px; }
.ec-base-prdInfo .layerOptionModify { display:none; width:auto; margin:7px 0 14px; padding:14px; border:1px solid #d5d5d5; background-color:#f1f1f1; }
.ec-base-prdInfo .layerOptionModify .titleArea { margin-top:3px; display:none; }
.ec-base-prdInfo .layerOptionModify ul { padding:0; font-size:12px; }
.ec-base-prdInfo .layerOptionModify li { position:relative; margin:0 0 7px; padding:0 0 0 73px; }
.ec-base-prdInfo .layerOptionModify li .optionItem { display:block; position:absolute; top:0; left:0; width:73px; height:29px; font-size:13px; color:#757575; line-height:29px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.ec-base-prdInfo .layerOptionModify select,
.ec-base-prdInfo .layerOptionModify input[type="text"] { width:100%; }
.ec-base-prdInfo .layerOptionModify .ec-base-button.gCenter { margin:0; }

/* orderList > ec-base-prdInfo  */
.orderList .ec-base-prdInfo { margin:-1px 0 0; border-width:1px 0 0 0; }
.orderList .ec-base-prdInfo .option { margin:0; }
.orderList .ec-base-prdInfo .prdFoot { margin:0 -14px -6px; }
/* order_result.html > orderArea > ec-base-prdInfo */
.orderArea .ec-base-fold .ec-base-prdInfo { border-bottom:1px solid #d5d5d5; }
.orderConfirmLayer .orderArea .ec-base-prdInfo { border-bottom:0; }
.orderArea .ec-base-prdInfo + .ec-base-prdInfo { border-top:1px solid #d5d5d5; }


/* ec-base-table */
.ec-base-table { border:1px solid #d5d5d5; word-break:break-all; word-wrap:break-word; color:#353535; background:#fff; }
.ec-base-table table { position:relative; }
.ec-base-table table:after { position:absolute; top:0; left:0; display:block; content:""; width:100%; height:1px; background:#fff; }
.ec-base-table th,
.ec-base-table td { border-top:1px solid #ececec; font-size:13px; vertical-align:top; }
.ec-base-table th { font-weight:normal; color:#757575; }
.ec-base-table td { padding:10px; }
.ec-base-table tbody th { padding:12px 0 12px 13px; text-align:left; }
.ec-base-table td.clear { padding:0 !important; }


/*취소 환불 교환 상세보기*/
.ec-base-table th, .ec-base-table td {
   border-top: 1px solid #ececec;
   font-size: 15px;
   vertical-align: top;
}

.ec-base-table tbody th {
   padding: 10px 0 10px 10px;
   text-align: left;
   vertical-align: top;
   min-width: 50px;
}

.ec-base-table.typeWrite td {
   padding: 7px 13px 6px;
   vertical-align: middle;
   line-height: 27px;
}

.ec-base-table {
   border: 0;
   margin: 0;
}

.ec-base-table.typeWrite {
   margin: 14px;
}

.ec-base-table.typeWrite .emailCheck td, .ec-base-table.typeWrite .idCheck td, .ec-base-table.typeWrite .pwdCheck td {
   font-size: 11px;
}

.ec-base-table.typeWrite .emailCheck .error, .ec-base-table.typeWrite .idCheck .error {
   color: #f00;
}

.ec-base-table.typeWrite td.thead .subject {
   display: block;
   padding: 0 0 10px;
   font-weight: normal;
   color: #757575;
}

.ec-base-table.typeWrite .interest label {
   min-width: 90px;
   margin: 0 7px 14px 0;
}

.ec-base-table.typeWrite .interest {
   font-size: 11px;
   line-height: 1.2em;
}

.ec-base-table.typeWrite .interest input {
   margin: 0 3px 0 0;
}

.ec-base-table.typeWrite .interest span {
   display: inline-block;
}

.ec-base-table.typeWrite td {
   border: 0;
   padding: 5px 0;
   line-height: 32px;
}

.ec-base-table.typeWrite td:after {
   clear: both;
   display: block;
   content: '';
}

.ec-base-table.typeWrite td .btnBasic {
   float: right;
   border: 1px solid #022CFF;
   color: #022CFF;
   border-radius: 100px;
   padding: 0;
   width: 30%;
   background: #fff;
   font-size: 11px;
   height: 32px;
}

.ec-base-table.typeWrite th {
   border: 0;
   font-size: 12px;
   width: 20%;
   text-align: left;
}

.ec-base-table.typeWrite th>img {
   vertical-align: middle;
   position: relative;
   top: -5px;
}

.ec-base-table.typeWrite select {
   margin-right: 4px;
}

.ec-base-table.typeWrite #authWrap #ipinWrap img, .ec-base-table.typeWrite #authWrap #mobileWrap img, .ec-base-table.typeWrite #authWrap img {
   width: 106px !important;
}

.ec-base-table.typeAuth {
   clear: both;
   display: block;
   border: 0;
   padding: 0;
}

.ec-base-table.typeAuth td {
   border: 0;
   padding: 0;
   text-align: center;
}

.ec-base-table.typeAuth td label {
   font-size: 11px;
   line-height: 14px;
}

.ec-base-layer h1 {
   width: 100%;
   height: 36px;
   text-align: center;
   font-size: 15px;
   line-height: 36px;
   color: #fff;
   box-sizing: border-box;
   background: #022CFF;
   margin: 0;
}

.ec-base-layer p {
   margin: 0;
}

.ec-base-layer .btnClose {
   overflow: hidden;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 510;
   width: 36px;
   height: 36px;
   border: 0;
   padding: 0;
   font-size: 0;
   text-indent: -150%;
   background: url("//img.echosting.cafe24.com/skin/mobile/common/btn_close_white.png") center center no-repeat;
   background-size: 14px 14px;
}

.ec-base-layer .wrap {
   -webkit-flex: 1;
   -moz-flex: 1;
   -ms-flex: 1;
   flex: 1;
   height: 100%;
   padding: 13px;
   font-size: 12px;
   overflow-x: auto;
   overflow-y: auto;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
}

.ec-base-layer .wrap+div>.ec-base-button, .ec-base-layer .wrap+.ec-base-button, .ec-base-layer>.ec-base-button {
   margin: 0;
   padding: 7px 14px 7px 10px;
   border-radius: 0 0 5px 5px;
   box-sizing: border-box;
}

.ec-base-layer .wrap+.ec-base-button>.ec-base-button {
   padding: 0;
}


/*취소/교환/반품 상세정보*/

.xans-myshop-orderhistorydetail {
   margin:0;
}

.xans-myshop-orderhistorydetail .boardViewCS .titleArea h3 {
   font-size: 16px;
   margin:0;
}

.titleArea {
   margin:0 !important;
}

.xans-myshop-orderhistorydetail .boardViewCS .prdInfo strong {
   font-size: 16px;
}
.xans-myshop-orderhistorydetail .ec-base-table table td {
   width: 100%;
   vertical-align: middle;
}