<footer module="layout_footerPackage">
    <!--@js(/jsbvt/footer.js)-->

    <!-- 하단 시작 -->
    <div id="footer" module="Layout_footer">

        <div class="footerInfoBox clear wrapper2">
            <ul class="footerBox1">
                <li><a href="/member/privacy.html">개인정보처리방침</a></li>
                <li><a href="/member/mall_agreement.html">이용약관</a></li>
                <li><a href="/member/mall_rule.html">환불 정책</a></li>
                <li><a href="https://forms.gle/n7kMFhH8Yui3mdCk7" target="_blank">파트너쉽/입점문의</a></li>


            </ul>
            <div class="footerBox2">
                <div>소비는 투표다! 세상을 바꾸는 선택 <br>
                    가치소비 할 땐 <b>비보트</b></div>
                <div class="companyInfo">
                    <br> 제휴문의 : official@passengers.co.kr
                    <br> 고객센터 : 070-4173-6999 / 카카오톡 채널 : 비보트 (운영시간 | 평일 13:00~18:00)
                </div>

            </div>
            <div class="footer-mobile-toggle-box"> 정보 더보기<img src="/bvtIMG/footer_more.svg" alt="하단 정보"></div>

            <div class="footerBox4">

                <div class="thanksto">
                    <b>
                        비보트를 만드는 사람들 <br> </b>
                    김채영, 김하연, 안창호, 백나은, 황주화<br><br>
                </div>
                <div class="footerBox1">
                    <li> <a href="http://nims.ksnet.co.kr/pg_infoc/src/dealinfo/pg_shop_info.jsp?shop_id=2865181203"
                            target="_blank"><img src="/bvtIMG/pg.gif" style="cursor:pointer"></a></li>
                    <li><a href="javascript:onPopKBAuthMark()"><img src="/bvtIMG/kb.gif" border="0"></a></li>
                </div>
                <div class="footerBox3">
                    <div class="companyInfo">
                        주식회사 패신저스 | 대표 : {$president_name}
                        <br> 사업자등록번호 : {$company_regno}
                        <br> 통신판매업신고번호 : {$network_regno}
                        <br> 개인정보책임관리자 : 안창호 operator@passengers.co.kr
                        <br> 주소 : {$mall_addr1} <br> {$mall_addr2}



                    </div>
                    <div class="margin-footer"></div>

                </div>

            </div>

        </div>
    </div>
    <!-- KB에스크로 이체 인증마크 적용 시작 -->

    <form name="KB_AUTHMARK_FORM" method="get">
        <input type="hidden" name="page" value="C021590" />
        <input type="hidden" name="cc" value="b034066:b035526" />
        <input type="hidden" name="mHValue" value='3e0ebfd31a0c2dd9a09997944446be68201909182121371' />
    </form>
</footer>

