<!-- community version  -->

<div class="wrapper2 footerMenu">
    <ul class="menu">
        <li>
           <a href="/myshop/community/community_list.html" title="커뮤니티 피드"><img id="footerMenu_feed" src="/bvtIMG/icon/icon_footermenu_feed_unclicked.svg" alt="커뮤니티 피드"><span class="footerMenu_feed">피드</span></a>
        </li>
        
        <li>
            <a href="/funding/index.html" title="펀딩,공구"><img id="footerMenu_funding"
                    src="/bvtIMG/icon/icon_footermenu_funding_unclicked.svg" alt="펀딩,공구"><span
                    class="footerMenu_funding">펀딩/공구</span></a>
        </li>
        <li>
            <a class='modal-menu' href="/" title="스토어"><img id="footerMenu_store"
                    src="/bvtIMG/icon/icon_footermenu_store_unclicked.svg" alt="스토어"><span
                    class="footerMenu_store">스토어</span></a>
        </li>
        <li>
            <a href="/myshop/wish_list.html" title="좋아요"><img id="footerMenu_wishlist"
                    src="/bvtIMG/icon/icon_footermenu_wish3_unclicked.svg" alt="좋아요"><span
                    class="footerMenu_wishlist">좋아요</span></a>
        </li>
        <li module="Layout_stateLogon">
            <a href="/myshop/index.html" title="마이페이지"><img id="footerMenu_my"
                    src="/bvtIMG/icon/icon_footermenu_myshop_unclicked.svg" alt="내 정보"><span
                    class="footerMenu_my">마이페이지</span></a>
        </li>
        <li module="Layout_stateLogoff">
            <a href="/member/login.html" title="로그인"><img id="footerMenu_login"
                    src="/bvtIMG/icon/icon_footermenu_myshop_unclicked.svg" alt="로그인"><span
                    class="footerMenu_login">로그인</span></a>
        </li>
    </ul>
</div>


