<header id="header" class="header wrapper2">
    <div class="headerflex padding2">
        <div class="hd-left">

        </div>
        <div class="hd-logo">
            <a href="/"><img src="/bvtIMG/logo_202102.png" alt="Logo" /></a>
        </div>
        <ul>
            <oi>
                <a href="/order/basket.html" class="btnBasket"><img src="/bvtIMG/icon/icon_basket.svg"></a>
            </oi>
            <p module="Layout_orderBasketcount">
                <span class="count {$basket_count_display|display}">{$basket_count}</span>
            </p>
        </ul>
    </div>
    <!--@import(/layout/basic/search.html)-->

</header>

