<div id="bvtCat" class="modal-top">

    <div class="cat-box">
        <div class="padding2 t15 b">상품 카테고리</div>
        <div class="padding2 t09">어떤 상품 찾으세요?</div>

        <div class="menu-category">
            <div class="menu-item">
                <a href="/product/list.html?cate_no=105">
                    <div class="sectionName">식품</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/product/list.html?cate_no=116">
                    <div class="sectionName">리빙</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/product/list.html?cate_no=102">
                    <div class="sectionName">패션</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/product/list.html?cate_no=146">
                    <div class="sectionName">뷰티</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/product/list.html?cate_no=117">
                    <div class="sectionName">잡화</div>
                </a>
            </div>
        </div>
        <!-- 배너 -->
        <!--@import(/bvtBANNER/catBanner.html)-->
    </div>
    <div class="dashline"></div>
    <div class="cat-box">
        <div class="padding2 t15 b">가치 카테고리</div>
        <div class="padding2 t09">어떤 가치 찾으세요?</div>

        <div class="menu-category">
            <div class="menu-item">
                <a href="/product/list.html?cate_no=173">
                    <div class="sectionName">비건</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/product/list.html?cate_no=174">
                    <div class="sectionName">친환경</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/product/list.html?cate_no=175">
                    <div class="sectionName">사회가치</div>
                </a>
            </div>

        </div>
        <!-- 배너 -->
        <!--@import(/bvtBANNER/catBanner2.html)-->
    </div>


</div>