@charset "utf-8";
@media screen and (min-width:0px) and (max-width:500px) {
    .onlyPC {
        display: none;
    }
}

@media screen and (min-width:501px) {
    .onlyMobile {
        display: none;
    }
}

::selection {
    background-color: #fff239;
    color: #292929;
}

::-moz-selection {
    background-color: #fff239;
    color: #292929;
}

body {
    width: 100%;
    min-width: 320px !important;
}

*, header, footer, section {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif !important;
}

a {
    color: #292929;
    text-decoration: none;
    display: block;
}

a:hover {
    text-decoration: none;
}

a:focus, a:active {
    color: #022CFF;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
}

select, input[type=text] {
    outline: none;
}

select:hover, input[type=text]:hover {
    border: 1px solid #022CFF;
}

.t07 {
    font-size: 0.7em;
}

.t08 {
    font-size: 0.8em;
}

.t09 {
    font-size: 0.9em;
}

.t1 {
    font-size: 1em;
}

.t11 {
    font-size: 1.1em;
}

.t12 {
    font-size: 1.2em;
}

.t13 {
    font-size: 1.3em;
}

.t14 {
    font-size: 1.4em;
}

.t15 {
    font-size: 1.5em;
}

.t18 {
    font-size: 1.8em;
}

.t2 {
    font-size: 2em;
}

.t23 {
    font-size: 2.3em;
}

.t25 {
    font-size: 2.3em;
}

.t28 {
    font-size: 2.8em;
}

.t3 {
    font-size: 3em;
}

.t33 {
    font-size: 3.3em;
}

.b {
    font-weight: 700;
}

.bb {
    font-weight: 900;
}

.tCenter {
    text-align: center;
}

.tLeft {
    text-align: left;
}

.tRight {
    text-align: right;
}

/* */

.right {
    float: right;
}

.center {
    left: 50%;
}

.center2 {
    left: 50%;
    transform: translateX(-50%) !important;
}

.left {
    float: left;
}

.clear:after {
    clear: both;
}

.rsW50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.w90 {
    width: 90%;
}

.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.w60, .rsW60 {
    width: 60%;
}

.w50, .rsW50 {
    width: 50%;
}

.w40, .rsW40 {
    width: 40%;
}

.w33 {
    width: 33%;
}

.w30 {
    width: 30%;
}

.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}

.rsW60, .rsW50, .rsW40, .w100, .w90, .w80, .w70, .w60, .w50, .w40, .w30, .w20, .w10 {
    float: left;
}

.pd10 {
    padding: 10px;
}

.pd20 {
    padding: 20px;
}

.gray {
    color: #ABABAB;
}

.gray2 {
    color: #707070;
}

.blue {
    color: #0288FF !important;
}

.blue2 {
    color: #022CFF !important;
}

col {
    display: table-column;
}

@media screen and (min-width:0px) and (max-width:767px) {
    .rsW40, .rsW50, .rsW60, .w280, .w100280 {
        width: 100%;
    }
}

.dashline {
    background: #E8E8E8;
    border-radius: 2px;
    opacity: 1;
    height: 1px;
    width: 100%;
}

/*그림자*/

.shadow {
    box-shadow: 7px 11px 39px #00000014;
}

.shadow2 {
    box-shadow: 3px 7px 11px #F2F2F2;
}
.shadow3 {
    box-shadow: 3px 0px 11px #E7EAF7;
}
/* 버튼들 모으기*/

.row-tail {
    width: 100%;
    float: left;
    margin-top: 15px;
}

/* 비어있어요. */

.empty-message {
    height: 350px;
    line-height: 350px;
    text-align: center;
    color: #707070;
}

/* 프로덕트 레이아웃 */

/* 메인 타이틀*/

.margin-header>.indextitle {
    padding-top: 20px;
}

.indextitle>.t09 {
    color: #707070;
}

h3 {
    margin: 0;
}

h3.t14 {
    font-family: 'Jost', 'Noto Sans KR' !important;
}

h3.m15 {
    margin-bottom: 15px;
}

h3.m25 {
    margin-bottom: 25px;
}

.indextitle.m15 {
    margin-bottom: 15px;
}

.indextitle.m20 {
    margin-bottom: 20px;
}

.indextitle.m25 {
    margin-bottom: 25px;
}

.indextitle.m35 {
    margin-bottom: 35px;
}
.indextitle.m108{
    margin-top: 108px;
 }

h3.m20 {
    margin-bottom: 20px;
}

.m60 {
    margin-bottom: 60px;
}

.bh-title {
    padding-top: 30px;
    font-size: 20px;
    color: #292929;
}

.bh-title2 {
    font-size: 23px;
}

.bh-cont {
    margin-top: 5px;
    font-size: 0.9em;
    letter-spacing: -1px;
    color: gray;
    margin-bottom: 20px;
}

.bh-cont2 {
    margin-top: 5px;
    font-size: 0.85em;
    letter-spacing: -1px;
    color: gray;
    margin-bottom: 20px;
}

/* 파란색 둥근 버튼 */

.blue-round-btn {
    margin: 3% auto;
    width: 75%;
    border-radius: 90px;
    height: 40px;
    border: 1px solid #022CFF;
    background-color: #ffffff
}

.blue-round-btn>a {
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #022CFF;
    font-size: 0.8em;
}

/* bvt_elements*/

/* 버튼 */

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #022CFF;
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #022CFF;
    color: #ffffff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 2s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* 체크박스 */

input[type=checkbox] {
    width: 18px;
    height: 18px;
    top: 1.5px;
    position: relative !important;
}

/* 이미지 처리 */

.resImg {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    height: 0;
}

.resImg .imgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.resImg .imgWrapper img {
    height: auto;
    width: 100%;
}

.img-h img {
    height: 100%;
    width: auto;
}

.img-hc img {
    height: 100%;
    width: auto;
    margin-left: -50%;
}

.img-w img {
    height: auto;
    width: 100%;
}

.img-wc img {
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.img-c {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.img-c img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #c7c7c7;
    font-size: 12px;
}

.hr-sect::before, .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: #c7c7c7;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

.hr-sect_right {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #022CFF;
    font-size: 15px;
    margin: 20px 0px;
}

.hr-sect_right::after {
    content: "";
    flex-grow: 1;
    background: #022CFF;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin-left: 16px;
}

.hr-sect_left {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #022CFF;
    font-size: 15px;
    margin: 50px 0 0 0;
}

.hr-sect_left::before {
    content: "";
    flex-grow: 1;
    background: #022CFF;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin-right: 16px;
}

/* 텍스트 처리 */

.smallTitle {
    font-size: 15px;
    height: 25px;
    color: #022CFF;
    border-radius: 15px;
    font-weight: 700;
    margin-bottom: 3px;
}

.basicTitle {
    font-size: 1.12em;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}

.highLighting {
    position: relative;
    display: inline-block;
}

.highLighting::after {
    position: absolute;
    left: 0;
    bottom: 3px;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 3px;
    z-index: -1;
}

.hl-yellow::after {
    background-color: #ffd300;
}

.hl-blue::after {
    background-color: #022CFF;
}




.gradientline {
    background: transparent linear-gradient(90deg, #022CFF 0%, #00F571 100%) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    height: 3px;
    width: 100%;
}

/* button */

.btnNormal, .btnStrong, .btnBasic, .btnSubmit, .btnEm {
    display: inline-block;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* mini */

[class*="btn"].mini {
    height: 26px;
    line-height: 24px;
    font-size: 11px;
}

/* btn */

.ec-base-button .soldout {
    cursor: default;
}

.btnIcon {
    max-width: 12px;
    max-height: 12px;
    background-size: 100% 100%;
}

/* ec-base-button */

.ec-base-button {
    margin: 10px auto;
    text-align: right;
}

.ec-base-button:after {
    content: "";
    display: block;
    clear: both;
}

/*  typeMulti */

.ec-base-button.typeMulti {
    margin: 0 auto;
    padding: 7px;
}

.ec-base-button.typeMulti .gTop:after, .ec-base-button.typeMulti .gBottom:after {
    content: "";
    display: block;
    clear: both;
}

.ec-base-button.typeMulti .gBottom {
    margin: 7px 0 0;
    padding: 7px 0 0;
    border-top: 1px solid #d5d5d5;
    clear: both;
}

/* align */

.ec-base-button.gLeft {
    text-align: left;
}

.ec-base-button.gCenter {
    text-align: center;
}

.ec-base-button.gRight {
    text-align: right;
}

.ec-base-button .gLeft {
    float: left;
    text-align: left;
}

.ec-base-button .gRight {
    float: right;
}

/* gColumn */

.ec-base-button[class*="gColumn"] {
    display: flex;
    margin: 10px 0 10px -4px;
}

.ec-base-button[class*="gColumn"]:after {
    content: none;
}

.ec-base-button[class*="gColumn"] a, .ec-base-button[class*="gColumn"] button {
    flex: 1;
    margin: 0 0 0 4px;
    padding: 0 3px;
    white-space: nowrap;
}

/* gFlex */

.ec-base-button[class*="gColumn"] .gFlex2 {
    flex: 2;
}

.ec-base-button[class*="gColumn"] .gFlex3 {
    flex: 3;
}

.ec-base-button[class*="gColumn"] .gFlex4 {
    flex: 4;
}

/* gFull */

.ec-base-button.gFull {
    margin-bottom: 3px;
}

.ec-base-button.gFull [class*="btn"], [class*="btn"].gFull {
    width: 100%;
}

.ec-base-button.gFull [class*="btn"] {
    margin: 0 0 7px;
}

/* gFixed */

.ec-base-button.gFixed {
    position: fixed;
    z-index: 120;
    left: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 7px;
    box-sizing: border-box;
    background-color: #dbdbdb;
    -webkit-box-shadow: 0px -4px 4px 0px rgba(120, 120, 120, 0.5);
    -moz-box-shadow: 0px -4px 4px 0px rgba(120, 120, 120, 0.5);
    box-shadow: 0px -4px 4px 0px rgba(120, 120, 120, 0.5);
}

.ec-base-button.gFixed .state+.ec-base-button {
    margin-top: 3px;
}

.ec-base-button.gFixed .state {
    overflow: hidden;
    margin: 0 auto;
    font-size: 11px;
}

.ec-base-button.gFixed .state .count {
    float: left;
    padding: 7px 0;
}

.ec-base-button.gFixed .state .price {
    float: right;
    padding: 7px 0;
}

.ec-base-button.gFixed .price strong {
    font-weight: normal;
}

.ec-base-button.gFixed .count strong, .ec-base-button.gFixed .price em {
    color: #022CFF;
    font-weight: bold;
}

.btnNormal, .btnStrong, .btnBasic {
    height: 29px;
    line-height: 27px;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 13px;
}

.btnNormal {
    color: #292929;
    border: 1px solid #cfcfcf;
    border-bottom-color: #b5b5b5;
    background: #fff;
}

.btnStrong {
    color: #fff;
    border: 0px;
    border-bottom-color: #373d4b;
    background: #022CFF;
}

.btnSubmit {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 13px;
    color: #fff;
    border: 1px solid #022CFF;
    background: #022CFF;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.btnEm {
    height: 36px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 13px;
    border: 1px solid #d5d5d5;
    background: #fff;
}
.btnnone {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 13px;
    border: 0;
    text-align: center;
    color:#707070;
    background: #fff;
}
.btnBasic {
    color: #292929;
    border: 1px solid #bcbcbc;
    background: #f0f0f0;
}

.button-box {
    padding: 10px 0;
    text-align: center;
}

.btn-basic {
    height: 35px;
    line-height: 30px;
    display: inline-block;
    color: black;
    text-align: center;
}

.btn-basic a {
    padding: 0 15px;
}

.btn-basic:hover {
    transition: all 0.2s;
    -webkit-box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.07);
    font-weight: 700;
}

.btn-type0, .btn-type0 a {
    background-color: #022CFF;
    color: white !important;
    word-break: keep-all;
    text-align: center;
}

.btn-type1, .btn-type1 a {
    background-color: #022CFF;
    color: white !important;
    word-break: keep-all;
    text-align: center;
    border-radius: 60px;
    border: 0;
}

.btn-type2 {
    background-color: white;
    border: 1px solid #707070;
    border-radius: 60px;
}

.btn-type2>a {
    color: #393939;
    font-weight: bold;
}

.btn-type3 {
    background-color: #F8FAFB;
    text-align: center;
}

.btn-type2:hover {
    border: 1px solid #022CFF;
}

.btn-size-s {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.btn-size-m {
    width: 150px;
    height: 50px;
    line-height: 50px;
}

.btn-size-l {
    width: 180px;
    height: 60px;
    line-height: 60px;
}

.btn-size-all {
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.btn-size-3 {
    width: calc(33.33% - 5px);
    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 5px;
}

.btn-size-3-2 {
    width: calc(100% - 33.33% - 5px);
    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 5px;
}

.btn-size-4 {
    width: calc(50% - 5px);
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 5px;
}

.btn-stat {
    cursor: not-allowed;
}

#NaverChk_Button {
    width: 100%;
    float: left;
    margin: 15px 0;
    text-align: center;
}

/* 구분선 */

.dottedPartition {
    height: 10px;
    border-bottom: 3px dotted #efefef;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

/* 테이블 */

table {
    width: 100%;
    border: 0 none;
    border-spacing: 0;
    border-collapse: collapse;
}

/*추후에 ocean으로 이동*/

.margin-header>img {
    width: 100%;
}

.bh-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 25px 0;
}

.bh-space>.bh-title {
    padding-top: 0;
}

.bh-space>.bh-cont {
    color: #022CFF;
    margin: 0;
    font-size: 13px;
}