#popup { width:600px; }
.header { height:77px; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/bg_popup_header.gif") 0 0 repeat-x; }
.header h1 { height:49px; padding:0 0 0 33px; font-size:20px; line-height:49px; color:#fefefe; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/ico_popup_title.gif") 20px center no-repeat; }
.content { padding:0 22px 22px; }
.content .btnArea { overflow:hidden; padding:20px 0 0; text-align:right; }
.content .btnArea.center { text-align:center; }
.content .btnArea span.left { float:left; }

.xans-calendar-modify table { table-layout:fixed; border-top:2px solid #c0c0c0; border-bottom:1px solid #c0c0c0; color:#202020; line-height:180%; }
.xans-calendar-modify th { width:120px; padding:10px 0 8px 20px; border-top:1px solid #e7e7e7; background:#f6f6f6; color:#414141; text-align:left; }
.xans-calendar-modify td { width:auto; padding:10px 0 8px 20px; border-top:1px solid #e7e7e7; }
.xans-calendar-modify td input { padding:2px; height:14px; color:#202020; border:1px solid #d9d9d9; }
.xans-calendar-modify td input#date { width:70px; text-align:center; }
.xans-calendar-modify td input#title { width:350px; }
.xans-calendar-modify td input#confirm { width:40px; }
.xans-calendar-modify td textarea { padding:2px; width:350px; height:80px; color:#202020; border:1px solid #d9d9d9; }