.xans-layout-info { margin:30px 0 40px; }
.xans-layout-info h2 { height:30px; font-size:12px; color:#292929; background:url("http://img.echosting.cafe24.com/design/skin/default/layout/bg_title.gif") 0 3px repeat-x; }
.xans-layout-info h2 span { padding:0 7px 0 0; background:#fff; }
.xans-layout-info ul { margin:-8px 0 0; }
.xans-layout-info li { padding:4px 10px 0; font-size:11px; font-family:tahoma, sans-serif; line-height:16px; color:#858585; text-decoration:underline; }
.xans-layout-info li strong { width:48px; display:inline-block; color:#999; text-decoration:underline; }
