.xans-board-write .prdSelect {
    background-color: #F8FAFB;
    border: 0;
    border-radius: 6px;
}

.xans-board-write .prdInfo {
    width: calc(100% - 90px);
}


.xans-board-listsgroup table a, .xans-board a{
    display: initial;
}


.xans-board-write table th {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #F8FAFB;
    text-align: center;
    font-weight: normal;
}

.xans-board-write table #subject {
    width: 100%;
    font-size: 16px;

}

.xans-board-write table td {
    padding:10px;
}