.xans-board-catemove { margin:0 0 -15px; padding:15px 16px; background:#f6f6f6; color:#8b8b8b; font-size:11px; }
.xans-board-catemove p { padding:0 0 0 7px; background:url("http://img.echosting.cafe24.com/design/skin/default/board/ico_function.gif") no-repeat 0 7px; }
