/* 게시판 전체 공통 */
.xans-board-title-9 .title { margin:0 0 15px; }
.xans-board-title-9 .title h2 { font-size:12px; color:#292929; }
.xans-board-title-9 .title p { padding:16px 0 0 0; font-size:11px; color:#8f8f8f; line-height:140%; }

/* reply */
.xans-board-read-9 { margin:-42px 0 0; }
.xans-board-replypackage-9 .boardWrite { margin:60px 0 0; }
.xans-board-replypackage-9 .boardWrite table { table-layout:fixed; border-top:2px solid #c0c0c0; border-bottom:1px solid #c0c0c0; }
.xans-board-replypackage-9 table th { width:140px; padding:23px 0 18px 22px; border-top:1px solid #e7e7e7; background:#f6f6f6; color:#414141; text-align:left; line-height:140%; }
.xans-board-replypackage-9 table td { width:auto; padding:23px 0 18px 22px; border-top:1px solid #e7e7e7; color:#8f8f8f; line-height:140%; font-size:11px; }
.xans-board-replypackage-9 table td img { vertical-align:middle; }
.xans-board-replypackage-9 table a { text-decoration:none; }
.xans-board-replypackage-9 table input,
.xans-board-replypackage-9 table textarea { padding:2px 2px 2px 4px; border:1px solid #d9d9d9; color:#202020; }
.xans-board-replypackage-9 table td.write { padding:0; }
.xans-board-replypackage-9 table td.write table { border:0; table-layout:auto; }
.xans-board-replypackage-9 table tr.view td { padding:0; border:0; line-height:140%; }
.xans-board-replypackage-9 table tr.view .detail { position:relative; z-index:2; margin:-1px 0 0; padding:17px 0 15px 20px; border-top:1px solid #e7e7e7; word-break:break-all; }
.xans-board-replypackage-9 table tr.etcArea {}
.xans-board-replypackage-9 table tr.etcArea td { padding:0; border:0; }
.xans-board-replypackage-9 table tr.etcArea ul { position:relative; z-index:1; overflow:hidden; width:100%; border-top:1px solid #e7e7e7; }
.xans-board-replypackage-9 table tr.etcArea ul li { float:left; border-bottom:1px solid #e7e7e7; }
.xans-board-replypackage-9 table tr.etcArea ul .th { background:#f6f6f6; color:#414141; }
.xans-board-replypackage-9 table tr.etcArea ul .th,
.xans-board-replypackage-9 table tr.etcArea ul .td { float:left; padding:20px 0 18px 20px; }
.xans-board-replypackage-9 table tr.etcArea ul li.comment {}
.xans-board-replypackage-9 table tr.etcArea ul li.comment .th { width:142px; }
.xans-board-replypackage-9 table tr.etcArea ul li.comment .td { width:140px; }
.xans-board-replypackage-9 table tr.etcArea ul li.date {}
.xans-board-replypackage-9 table tr.etcArea ul li.date .th { width:140px; }
.xans-board-replypackage-9 table tr.etcArea ul li.date .td { width:142px; }
.xans-board-replypackage-9 table #subject { width:390px; }
.xans-board-replypackage-9 table #ucc_width { width:40px; }
.xans-board-replypackage-9 table #ucc_height { width:40px; }
.xans-board-replypackage-9 table input[type=radio], .xans-board-replypackage-9 table input[type=checkbox], .xans-board-replypackage-9 table #notice0, .xans-board-replypackage-9 table #secure0, .xans-board-replypackage-9 table #secure1, .xans-board-replypackage-9 table #privacy_agreement_radio0, .xans-board-replypackage-9 table #privacy_agreement_radio1 { border:0; width:13px; height:13px; margin:0 3px 0 0; background:none; vertical-align:middle; }
.xans-board-replypackage-9 table .info { display:block; margin:5px 0 0; }

.xans-board-replypackage-9 .btnArea { overflow:hidden; margin:10px 0 60px; text-align:right; font-size:1%; line-height:1%; }
.xans-board-replypackage-9 .btnArea.miniType { margin-bottom:10px; }
.xans-board-replypackage-9 .btnArea.center { text-align:center; }
.xans-board-replypackage-9 .btnArea img { cursor:pointer; margin:0 0 0 1px; font-size:12px; line-height:18px; }
.xans-board-replypackage-9 .btnArea span.left { float:left; margin:0 0 0 -1px; }