.xans-board-search { padding:15px 22px; background:#f6f6f6; color:#8b8b8b; font-size:11px; }
.xans-board-search input { height:14px; padding:2px; border:1px solid #d9d9d9; color:#202020; }
.xans-board-search .boardSearch { display:block; }
